<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/style.css">
	<title>Shirt Designer</title>
</head>

<body>
	<nav>
		<ul>
			<li>
				<a href="/">tshirt designer</a>
			</li>
			<% if (typeof formdata != "undefined"){ %>
				<li>
					<label>pin: <input type="text" class="text" value="<%= formdata.pin %>"></label>
				</li>
				<li>
					<!-- <a href="/design/<%= formdata._id %>" class="btn btn--save btn--ghost">Opslaan</a> -->
					<button form="update-form" class="btn btn--save btn--ghost">Opslaan</button>
				</li>
				<li>
					<a href="/order/<%= formdata._id %>" class="btn btn--order">Toevoegen aan winkelmand</a>
				</li>
			<% } %>
		</ul>
	</nav>
	<main>