<svg viewBox="0 0 177 196" version="1.1" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
    <title>Een <% if (typeof formdata != "undefined") {%> <%= formdata.color %> <% } %> tshirt, met <% if (typeof formdata != "undefined") {%> <%= formdata.color %> <% } %> tekst.</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <radialGradient cx="24.3244332%" cy="58.1121876%" fx="24.3244332%" fy="58.1121876%" r="121.437859%"
            gradientTransform="translate(0.243244,0.581122),scale(1.000000,0.925269),rotate(87.885976),translate(-0.243244,-0.581122)"
            id="radialGradient-1">
            <stop stop-color="#242424" offset="0%"></stop>
            <stop stop-color="#232323" offset="3%"></stop>
            <stop stop-color="#101010" offset="42%"></stop>
            <stop stop-color="#1F1F1F" offset="77%"></stop>
            <stop stop-color="#2B2B2B" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-16.3436727%" cy="70.2124982%" fx="-16.3436727%" fy="70.2124982%" r="389.824559%"
            gradientTransform="translate(-0.163437,0.702125),scale(1.000000,0.260367),translate(0.163437,-0.702125)"
            id="radialGradient-2">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="127.811882%" cy="80.8822742%" fx="127.811882%" fy="80.8822742%" r="279.602119%"
            gradientTransform="translate(1.278119,0.808823),scale(1.000000,0.322552),translate(-1.278119,-0.808823)"
            id="radialGradient-3">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="126.821827%" cy="116.059534%" fx="126.821827%" fy="116.059534%" r="397.178493%"
            gradientTransform="translate(1.268218,1.160595),scale(1.000000,0.251437),translate(-1.268218,-1.160595)"
            id="radialGradient-4">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="128.376516%" cy="94.9057565%" fx="128.376516%" fy="94.9057565%" r="350.789608%"
            gradientTransform="translate(1.283765,0.949058),scale(0.937763,1.000000),translate(-1.283765,-0.949058)"
            id="radialGradient-5">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="86.0908581%" cy="98.0088496%" fx="86.0908581%" fy="98.0088496%" r="121.592821%"
            gradientTransform="translate(0.860909,0.980088),scale(1.000000,0.986173),translate(-0.860909,-0.980088)"
            id="radialGradient-6">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="28.9039597%" cy="-18.7687688%" fx="28.9039597%" fy="-18.7687688%" r="194.884514%"
            gradientTransform="translate(0.289040,-0.187688),scale(1.000000,0.775080),translate(-0.289040,0.187688)"
            id="radialGradient-7">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="116.353775%" cy="70.2448583%" fx="116.353775%" fy="70.2448583%" r="390.065526%"
            gradientTransform="translate(1.163538,0.702449),scale(1.000000,0.260206),rotate(180.000000),translate(-1.163538,-0.702449)"
            id="radialGradient-8">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-27.8676531%" cy="80.9468214%" fx="-27.8676531%" fy="80.9468214%" r="273.211107%"
            gradientTransform="translate(-0.278677,0.809468),scale(1.000000,0.332186),rotate(180.000000),translate(0.278677,-0.809468)"
            id="radialGradient-9">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-26.7258316%" cy="116.059534%" fx="-26.7258316%" fy="116.059534%" r="396.960557%"
            gradientTransform="translate(-0.267258,1.160595),scale(1.000000,0.251575),rotate(180.000000),translate(0.267258,-1.160595)"
            id="radialGradient-10">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-28.6281344%" cy="94.9057565%" fx="-28.6281344%" fy="94.9057565%" r="350.789608%"
            gradientTransform="translate(-0.286281,0.949058),scale(0.938181,1.000000),rotate(180.000000),translate(0.286281,-0.949058)"
            id="radialGradient-11">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="13.9091419%" cy="98.0088496%" fx="13.9091419%" fy="98.0088496%" r="121.592821%"
            gradientTransform="translate(0.139091,0.980088),scale(1.000000,0.986173),rotate(180.000000),translate(-0.139091,-0.980088)"
            id="radialGradient-12">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="71.5714608%" cy="-18.7244342%" fx="71.5714608%" fy="-18.7244342%" r="445.019804%"
            gradientTransform="translate(0.715715,-0.187244),scale(1.000000,0.313280),rotate(180.000000),translate(-0.715715,0.187244)"
            id="radialGradient-13">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-16.7935951%" cy="57.9069988%" fx="-16.7935951%" fy="57.9069988%" r="311.466786%"
            gradientTransform="translate(-0.167936,0.579070),scale(1.000000,0.391176),rotate(87.930000),translate(0.167936,-0.579070)"
            id="radialGradient-14">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-26.924256%" cy="113.310011%" fx="-26.924256%" fy="113.310011%" r="312.349866%"
            gradientTransform="translate(-0.269243,1.133100),scale(1.000000,0.446962),translate(0.269243,-1.133100)"
            id="radialGradient-15">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="31.6333395%" cy="-256.610559%" fx="31.6333395%" fy="-256.610559%" r="1036.63276%"
            gradientTransform="translate(0.316333,-2.566106),scale(1.000000,0.590295),translate(-0.316333,2.566106)"
            id="radialGradient-16">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="31.6326531%" cy="-256.862745%" fx="31.6326531%" fy="-256.862745%" r="957.387755%"
            gradientTransform="translate(0.316327,-2.568627),scale(1.000000,0.640523),translate(-0.316327,2.568627)"
            id="radialGradient-17">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="31.6599249%" cy="-256.9624%" fx="31.6599249%" fy="-256.9624%" r="643.841621%"
            gradientTransform="translate(0.316599,-2.569624),scale(1.000000,0.961562),translate(-0.316599,2.569624)"
            id="radialGradient-18">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="105.454397%" cy="62.6271745%" fx="105.454397%" fy="62.6271745%" r="169.094123%"
            gradientTransform="translate(1.054544,0.626272),scale(1.000000,0.348010),translate(-1.054544,-0.626272)"
            id="radialGradient-19">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="96.8221738%" cy="83.0237003%" fx="96.8221738%" fy="83.0237003%" r="129.31405%"
            gradientTransform="translate(0.968222,0.830237),scale(1.000000,0.450483),translate(-0.968222,-0.830237)"
            id="radialGradient-20">
            <stop stop-color="#101010" offset="0%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="4.97588182%" cy="54.2137073%" fx="4.97588182%" fy="54.2137073%" r="198.89967%"
            gradientTransform="translate(0.049759,0.542137),scale(1.000000,0.359298),translate(-0.049759,-0.542137)"
            id="radialGradient-21">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-15.160296%" cy="59.0629476%" fx="-15.160296%" fy="59.0629476%" r="326.416072%"
            gradientTransform="translate(-0.151603,0.590629),scale(1.000000,0.347321),rotate(87.930000),translate(0.151603,-0.590629)"
            id="radialGradient-22">
            <stop stop-color="#101010" offset="0%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="112.580224%" cy="84.7949767%" fx="112.580224%" fy="84.7949767%" r="140.063974%"
            gradientTransform="translate(1.125802,0.847950),scale(1.000000,0.586890),translate(-1.125802,-0.847950)"
            id="radialGradient-23">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="7.78995961%" cy="66.4968372%" fx="7.78995961%" fy="66.4968372%" r="406.092276%"
            gradientTransform="translate(0.077900,0.664968),scale(0.367200,1.000000),translate(-0.077900,-0.664968)"
            id="radialGradient-24">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="1.74844231%" cy="296.070812%" fx="1.74844231%" fy="296.070812%" r="653.324698%"
            gradientTransform="translate(0.017484,2.960708),scale(0.754979,1.000000),translate(-0.017484,-2.960708)"
            id="radialGradient-25">
            <stop stop-color="#101010" offset="1%"></stop>
            <stop stop-color="#101010" stop-opacity="0" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="58.3966797%" cy="-22.0004974%" fx="58.3966797%" fy="-22.0004974%" r="189.517617%"
            gradientTransform="translate(0.583967,-0.220005),scale(0.394641,1.000000),translate(-0.583967,0.220005)"
            id="radialGradient-26">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#2A2A2A" offset="1%"></stop>
            <stop stop-color="#171717" offset="25%"></stop>
            <stop stop-color="#101010" offset="42%"></stop>
        </radialGradient>
        <radialGradient cx="12.6647007%" cy="148.026653%" fx="12.6647007%" fy="148.026653%" r="288.44285%"
            gradientTransform="translate(0.126647,1.480267),scale(0.530648,1.000000),translate(-0.126647,-1.480267)"
            id="radialGradient-27">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#171717" offset="41%"></stop>
            <stop stop-color="#191919" offset="50%"></stop>
            <stop stop-color="#202020" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="87.4115323%" cy="148.026653%" fx="87.4115323%" fy="148.026653%" r="288.44285%"
            gradientTransform="translate(0.874115,1.480267),scale(0.530616,1.000000),rotate(180.000000),translate(-0.874115,-1.480267)"
            id="radialGradient-28">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#171717" offset="41%"></stop>
            <stop stop-color="#191919" offset="50%"></stop>
            <stop stop-color="#202020" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="36.1920821%" cy="649.642005%" fx="36.1920821%" fy="649.642005%" r="1054.97216%"
            gradientTransform="translate(0.361921,6.496420),scale(0.112208,1.000000),translate(-0.361921,-6.496420)"
            id="radialGradient-29">
            <stop stop-color="#242424" offset="0%"></stop>
            <stop stop-color="#232323" offset="3%"></stop>
            <stop stop-color="#101010" offset="42%"></stop>
            <stop stop-color="#1F1F1F" offset="77%"></stop>
            <stop stop-color="#2B2B2B" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="36.2902756%" cy="649.42029%" fx="36.2902756%" fy="649.42029%" r="1564.05797%"
            gradientTransform="translate(0.362903,6.494203),scale(0.061594,1.000000),translate(-0.362903,-6.494203)"
            id="radialGradient-30">
            <stop stop-color="#242424" offset="0%"></stop>
            <stop stop-color="#232323" offset="3%"></stop>
            <stop stop-color="#101010" offset="42%"></stop>
            <stop stop-color="#1F1F1F" offset="77%"></stop>
            <stop stop-color="#2B2B2B" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="30.3867403%" cy="112.03125%" fx="30.3867403%" fy="112.03125%" r="185.15%"
            gradientTransform="translate(0.303867,1.120313),scale(0.558302,1.000000),translate(-0.303867,-1.120313)"
            id="radialGradient-31">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#171717" offset="41%"></stop>
            <stop stop-color="#191919" offset="50%"></stop>
            <stop stop-color="#202020" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="69.6511628%" cy="112.03125%" fx="69.6511628%" fy="112.03125%" r="185.15%"
            gradientTransform="translate(0.696512,1.120313),scale(0.558140,1.000000),rotate(180.000000),translate(-0.696512,-1.120313)"
            id="radialGradient-32">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#171717" offset="41%"></stop>
            <stop stop-color="#191919" offset="50%"></stop>
            <stop stop-color="#202020" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="51.7926275%" cy="103.972898%" fx="51.7926275%" fy="103.972898%" r="379.056005%"
            gradientTransform="translate(0.517926,1.039729),scale(0.301913,1.000000),translate(-0.517926,-1.039729)"
            id="radialGradient-33">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#171717" offset="41%"></stop>
            <stop stop-color="#191919" offset="50%"></stop>
            <stop stop-color="#202020" offset="96%"></stop>
        </radialGradient>
        <radialGradient cx="31.6599017%" cy="-256.046243%" fx="31.6599017%" fy="-256.046243%" r="834.87865%"
            gradientTransform="translate(0.316599,-2.560462),scale(0.203579,1.000000),translate(-0.316599,2.560462)"
            id="radialGradient-34">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#171717" offset="41%"></stop>
            <stop stop-color="#191919" offset="50%"></stop>
            <stop stop-color="#202020" offset="96%"></stop>
        </radialGradient>
        <radialGradient cx="45.4307884%" cy="-10.9569028%" fx="45.4307884%" fy="-10.9569028%" r="43.8050542%"
            gradientTransform="translate(0.454308,-0.109569),scale(0.985350,1.000000),translate(-0.454308,0.109569)"
            id="radialGradient-35">
            <stop stop-color="#E83D3D" offset="0%"></stop>
            <stop stop-color="#2A2A2A" offset="1%"></stop>
            <stop stop-color="#171717" offset="25%"></stop>
            <stop stop-color="#101010" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="-17.5112217%" cy="57.9514044%" fx="-17.5112217%" fy="57.9514044%" r="111.367211%"
            gradientTransform="translate(-0.175112,0.579514),scale(1.000000,0.964296),rotate(83.299422),translate(0.175112,-0.579514)"
            id="radialGradient-36">
            <stop stop-color="#242424" offset="0%"></stop>
            <stop stop-color="#232323" offset="3%"></stop>
            <stop stop-color="#101010" offset="42%"></stop>
            <stop stop-color="#1F1F1F" offset="77%"></stop>
            <stop stop-color="#2B2B2B" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="32.0309869%" cy="46.049052%" fx="32.0309869%" fy="46.049052%" r="297.607243%"
            gradientTransform="translate(0.320310,0.460491),scale(0.240273,1.000000),translate(-0.320310,-0.460491)"
            id="radialGradient-37">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#171717" offset="41%"></stop>
            <stop stop-color="#191919" offset="50%"></stop>
            <stop stop-color="#202020" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="45.4411663%" cy="-94.1966338%" fx="45.4411663%" fy="-94.1966338%" r="494.102864%"
            gradientTransform="translate(0.454412,-0.941966),scale(0.219547,1.000000),translate(-0.454412,0.941966)"
            id="radialGradient-38">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#1A1A1A" offset="29%"></stop>
            <stop stop-color="#070707" offset="71%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="51.2548004%" cy="-61.7589829%" fx="51.2548004%" fy="-61.7589829%" r="608.31383%"
            gradientTransform="translate(0.512548,-0.617590),scale(0.121566,1.000000),translate(-0.512548,0.617590)"
            id="radialGradient-39">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#1A1A1A" offset="29%"></stop>
            <stop stop-color="#070707" offset="71%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
        <radialGradient cx="47.1888724%" cy="-26.7685908%" fx="47.1888724%" fy="-26.7685908%" r="635.755076%"
            gradientTransform="translate(0.471889,-0.267686),scale(0.139230,1.000000),translate(-0.471889,0.267686)"
            id="radialGradient-40">
            <stop stop-color="#2B2B2B" offset="0%"></stop>
            <stop stop-color="#1A1A1A" offset="29%"></stop>
            <stop stop-color="#070707" offset="71%"></stop>
            <stop stop-color="#000000" offset="100%"></stop>
        </radialGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="shirt" fill-rule="nonzero">
            <path
                d="M64.76,0.1 C66.2097656,0.134238539 67.6419592,0.425417386 68.99,0.96 C69.1769565,1.04413043 69.2487117,1.09241648 69.2304609,1.1153126 C69.2465608,1.12870187 69.2525433,1.13919304 69.2496184,1.14707317 C69.2608798,1.15023284 69.2754212,1.1551036 69.29,1.16 C81.9979623,4.07400072 95.2066315,4.01924976 107.89,1 C107.89,1 107.923871,0.990798463 107.986322,0.974677339 C109.628745,0.24117605 112.691058,-0.116639563 113.68,0.24926881 C114.595185,0.587887141 117.604277,3.65696084 118.108128,4.17513389 C118.11,4.17 152.28,21.33 152.61,22 C152.618188,22.0214767 152.625805,22.0430855 152.632854,22.0648059 C153.310398,22.317224 154.505031,23.2547745 155.353837,26.65 C156.603837,31.65 177.603837,75.15 176.853837,76.4 C176.103837,77.65 165.603837,86.4 143.103837,88.4 C143.103837,88.4 141.26365,85.9331972 139.744911,80.7664741 C140.024289,92.3224056 141.474193,162.942316 142.87,171.64 C143.42,175.12 144.95,179.43 144.42,182.98 C144.118701,184.964906 144.004866,186.973763 144.08,188.98 C144.08,188.98 139.59,192.48 116.92,193.48 C94.25,194.48 88.43,195.31 88.43,195.31 C88.43,195.31 82.61,194.48 59.94,193.48 C37.27,192.48 32.77,188.98 32.77,188.98 C32.8516349,186.974052 32.7411312,184.964895 32.44,182.98 C31.9,179.43 33.43,175.12 33.99,171.64 C35.13,164.47 37.51,128.93 36.51,105.4 C36.26,99.4 38.01,90.33 38.01,88.9 C38.1126316,85.7894737 37.5109695,82.2114958 37.2530894,80.4344365 L37.2151456,80.5675889 C35.6839345,85.8699116 33.7866335,88.4 33.7685942,88.4 C11.2685942,86.4 0.748594239,77.65 0.0185942392,76.4 C-0.711405761,75.15 20.2885942,31.67 21.5385942,26.67 C22.3909053,23.2607557 23.5919048,22.3295237 24.2698324,22.0820628 L24.3,21.98 C24.63,21.31 58.8,4.15 58.8,4.15 C58.8108881,4.16086182 58.82179,4.17173445 58.8327058,4.18261779 C59.3065851,3.69835722 62.348877,0.599295548 63.27,0.24926881 C63.5869703,0.128820092 64.1179421,0.0847287091 64.7469957,0.104574696 Z"
                id="shirt-bg" fill="<% if (typeof formdata != "undefined" && formdata.color) { %> <%= formdata.color.hex %> <% } else {%> #FFFFFF <%}%>"></path>
            <g id="shirt-shadows" transform="translate(0.000000, 4.150000)">
                <path
                    d="M58.8,0 C62.95,4.14 69.12,9.85 74.73,11.7 C83.6403963,14.5098596 93.1996037,14.5098596 102.11,11.7 C107.79,9.91 113.97,4.16 118.11,0.02 C118.11,0.02 152.28,17.18 152.61,17.85 C152.618188,17.8714767 152.625805,17.8930855 152.632854,17.9148059 C153.310398,18.167224 154.505031,19.1047745 155.353837,22.5 C156.603837,27.5 177.603837,71 176.853837,72.25 C176.103837,73.5 165.603837,82.25 143.103837,84.25 C143.103837,84.25 141.26365,81.7831972 139.744911,76.6164741 C140.024289,88.1724056 141.474193,158.792316 142.87,167.49 C143.42,170.97 144.95,175.28 144.42,178.83 C144.118701,180.814906 144.004866,182.823763 144.08,184.83 C144.08,184.83 139.59,188.33 116.92,189.33 L116.244944,189.359948 C94.5808641,190.326586 88.6671679,191.127061 88.4370722,191.159009 L88.4229278,191.159009 C88.19046,191.126732 82.1566,190.31 59.94,189.33 C37.27,188.33 32.77,184.83 32.77,184.83 C32.8516349,182.824052 32.7411312,180.814895 32.44,178.83 C31.9,175.28 33.43,170.97 33.99,167.49 C35.13,160.32 37.51,124.78 36.51,101.25 C36.26,95.25 38.01,86.18 38.01,84.75 C38.1126515,81.6388709 37.5107363,78.060109 37.2529395,76.2834035 C35.7156471,81.6776206 33.7867836,84.25 33.7685942,84.25 C11.2685942,82.25 0.748594239,73.5 0.0185942392,72.25 C-0.711405761,71 20.2885942,27.52 21.5385942,22.52 C22.3909053,19.1107557 23.5919048,18.1795237 24.2698324,17.9320628 L24.3,17.83 C24.63,17.16 58.8,0 58.8,0 Z"
                    id="shirt-bg-shadow" fill="url(#radialGradient-1)" opacity="0.103678385"></path>
                <g id="shape-shadows" opacity="0.0959821429" transform="translate(3.788594, 17.825556)">
                    <path
                        d="M33.1614058,40.1788889 C31.7514058,36.3288889 31.8814058,28.9488889 30.2314058,25.2388889 C28.5814058,21.5288889 27.9214058,16.8888889 26.7414058,12.8388889 C25.5614058,8.78888889 21.0814058,1.33888889 21.0814058,1.33888889 C20.8107399,0.956580653 20.754164,0.462484252 20.9314058,0.0288888889 C20.9314058,0.0288888889 19.4214058,-0.221111111 18.2114058,3.02888889 C18.2844751,3.02008921 18.3583364,3.02008921 18.4314058,3.02888889 C18.2373189,3.50091476 18.3056814,4.04021937 18.6114058,4.44888889 C18.6114058,4.44888889 24.6914058,9.60888889 25.9314058,13.8688889 C27.1714058,18.1288889 27.7314058,23.8688889 29.5514058,27.9988889 C31.3114058,31.9988889 29.9814058,41.7288889 31.4814058,45.8288889 C33.2714058,50.7288889 32.6214058,56.5788889 32.2814058,61.8288889 C32.9128616,60.1990628 33.4340366,58.52863 33.8414058,56.8288889 C34.0914058,51.4288889 35.0414058,45.2588889 33.1614058,40.1788889 Z"
                        id="Path-Copy-46" fill="url(#radialGradient-2)"></path>
                    <path
                        d="M32,38.7944444 C31,38.2944444 24.8,39.6344444 24.75,36.2944444 C24.58,25.6344444 16.58,2.29444444 18.33,7.29444444 C20.08,12.2944444 22.57,39.5044444 21.67,42.6344444 C19.29,50.9244444 33.91,56.7644444 33.91,56.7644444 C33.99,55.0144444 34.15,53.1744444 34.26,51.3244444 C32.51,48.9644444 32.74,39.1644444 32,38.7944444 Z"
                        id="Path-Copy-48" fill="url(#radialGradient-3)"></path>
                    <path
                        d="M11.69,19.0244444 C10.2708982,22.1568322 9.65894545,25.5947689 9.91,29.0244444 C10.39,35.7344444 11.53,48.1344444 20.62,52.9544444 C27.06,56.3544444 11,46.2044444 12.75,30.2044444 C13.8402513,21.6015028 15.5107249,13.0820873 17.75,4.70444444 C17.34,6.29444444 14.85,12.0244444 11.69,19.0244444 Z"
                        id="Path-Copy-49" fill="url(#radialGradient-4)"></path>
                    <path
                        d="M20.87,46.7944444 C20.87,46.7944444 26.75,58.0444444 27.87,58.7944444 C27.92,58.7944444 27.69,59.9444444 24.92,59.4244444 C20.29,58.5444444 12.12,55.9044444 12.5,56.0844444 C20.08,59.7544444 27.33,61.0844444 27.17,61.4244444 C26.46,62.7444444 25.51,63.7244444 25.75,64.4244444 C26.43,66.3744444 30.38,65.7344444 30,66.4244444 C30,66.4244444 31.39,63.9444444 32.25,62.0044444 C32.9472468,60.6300718 33.3459695,59.1237861 33.42,57.5844444 C33.42,57.5844444 23.23,50.4244444 20.87,46.7944444 Z"
                        id="Path-Copy-50" fill="url(#radialGradient-5)"></path>
                    <path
                        d="M17.83,55.5044444 C17.83,55.5044444 11.23,50.6744444 10,42.6744444 C8.77,34.6744444 6,37.6744444 4.25,39.6744444 C2.5,41.6744444 1.95399252e-14,46.9244444 1.95399252e-14,46.9244444 C1.95399252e-14,46.9244444 8.83,53.3344444 17.83,55.5044444 Z"
                        id="Path-Copy-51" fill="url(#radialGradient-6)"></path>
                    <path
                        d="M31.75,40.3344444 C31.75,40.3344444 29.75,33.6744444 28.25,33.6744444 C27.8960892,33.6755768 27.5496067,33.7760568 27.25,33.9644444 C26.7373909,34.2739193 26.4851536,34.8804438 26.6271447,35.4621493 C26.7691358,36.0438548 27.2724541,36.4659523 27.87,36.5044444 L27.87,36.5044444 C28.42,36.5044444 29.75,37.3344444 31.75,40.3344444 Z"
                        id="Path-Copy-52" fill="url(#radialGradient-7)"></path>
                    <path
                        d="M136.323319,40.1988889 C137.733319,36.3488889 137.603319,28.9688889 139.253319,25.2588889 C140.903319,21.5488889 141.563319,16.9088889 142.743319,12.8588889 C143.923319,8.80888889 148.413319,1.35888889 148.413319,1.35888889 C148.696434,0.974383502 148.757163,0.469569767 148.573319,0.0288888889 C148.573319,0.0288888889 150.083319,-0.221111111 151.293319,3.02888889 C151.223595,3.02010444 151.153044,3.02010444 151.083319,3.02888889 C151.271417,3.50169251 151.203438,4.03797193 150.903319,4.44888889 C150.903319,4.44888889 144.823319,9.60888889 143.573319,13.8688889 C142.323319,18.1288889 141.773319,23.8688889 139.953319,27.9988889 C138.193319,31.9988889 139.523319,41.7288889 138.023319,45.8288889 C136.233319,50.7288889 136.883319,56.5788889 137.233319,61.8288889 C136.601863,60.1990628 136.080688,58.52863 135.673319,56.8288889 C135.413319,51.4488889 134.493319,45.2788889 136.323319,40.1988889 Z"
                        id="Path-Copy-55" fill="url(#radialGradient-8)"></path>
                    <path
                        d="M137.315243,38.7944444 C138.315243,38.2944444 144.515243,39.6344444 144.565243,36.2944444 C144.735243,25.6344444 152.735243,2.29444444 150.985243,7.29444444 C149.235243,12.2944444 150.605243,37.6744444 151.505243,40.7944444 C153.875243,49.0444444 135.415243,56.7244444 135.415243,56.7244444 C135.325243,54.9744444 135.175243,53.1344444 135.065243,51.2844444 C136.805243,48.9644444 136.575243,39.1644444 137.315243,38.7944444 Z"
                        id="Path-Copy-57" fill="url(#radialGradient-9)"></path>
                    <path
                        d="M157.625243,19.0244444 C159.042891,22.157469 159.658065,25.5941958 159.415243,29.0244444 C158.925243,35.7344444 157.785243,48.1344444 148.695243,52.9544444 C142.255243,56.3544444 158.315243,46.2044444 156.565243,30.2044444 C155.474992,21.6015028 153.804518,13.0820873 151.565243,4.70444444 C151.975243,6.29444444 154.475243,12.0244444 157.625243,19.0244444 Z"
                        id="Path-Copy-58" fill="url(#radialGradient-10)"></path>
                    <path
                        d="M148.445243,46.7944444 C148.445243,46.7944444 142.565243,58.0444444 141.445243,58.7944444 C141.395243,58.7944444 141.625243,59.9444444 144.445243,59.4244444 C149.075243,58.5444444 157.245243,55.9044444 156.855243,56.0844444 C149.275243,59.7544444 142.025243,61.0844444 142.195243,61.4244444 C142.895243,62.7444444 143.845243,63.7244444 143.605243,64.4244444 C142.935243,66.3744444 138.975243,65.7344444 139.355243,66.4244444 C139.355243,66.4244444 137.965243,63.9444444 137.105243,62.0044444 C136.406864,60.6310478 136.011294,59.1237915 135.945243,57.5844444 C135.945243,57.5844444 146.065243,50.4244444 148.445243,46.7944444 Z"
                        id="Path-Copy-59" fill="url(#radialGradient-11)"></path>
                    <path
                        d="M151.485243,55.5044444 C151.485243,55.5044444 158.065243,50.6744444 159.315243,42.6744444 C160.565243,34.6744444 163.315243,37.6744444 165.065243,39.6744444 C166.815243,41.6744444 169.315243,46.9244444 169.315243,46.9244444 C169.315243,46.9244444 160.485243,53.3344444 151.485243,55.5044444 Z"
                        id="Path-Copy-60" fill="url(#radialGradient-12)"></path>
                    <path
                        d="M137.565243,40.3344444 C137.565243,40.3344444 138.835243,29.6744444 140.335243,29.6744444 C140.685243,29.6744444 145.205243,14.1644444 145.505243,14.3344444 C146.645243,15.0044444 142.735243,36.4744444 141.415243,36.5044444 L141.415243,36.5044444 C140.905243,36.5044444 139.565243,37.3344444 137.565243,40.3344444 Z"
                        id="Path-Copy-61" fill="url(#radialGradient-13)"></path>
                    <path
                        d="M44.0014058,38.7944444 C42.0014058,37.3944444 38.8514058,44.2844444 37.5014058,48.7944444 C35.6314058,55.1544444 35.7314058,60.3944444 34.0914058,63.2544444 C34.219334,64.4733849 34.2727666,65.6989955 34.2514058,66.9244444 C37.5016042,60.7631893 40.3930896,54.4192839 42.9114058,47.9244444 C43.4314058,46.4744444 49.1914058,28.9244444 49.5014058,27.7044444 C50.1314058,25.1444444 44.8814058,39.4144444 44.0014058,38.7944444 Z"
                        id="Path-Copy-75" fill="url(#radialGradient-14)"></path>
                    <path
                        d="M136.831406,43.3344444 C136.831406,43.3344444 136.831406,32.3344444 137.171406,29.3344444 C137.511406,26.3344444 130.831406,15.3344444 129.831406,14.6744444 C128.831406,14.0144444 122.831406,11.3344444 123.501406,13.3344444 C124.171406,15.3344444 134.621406,31.0244444 134.621406,31.0244444 L126.171406,16.0244444 C126.171406,16.0244444 129.171406,16.3544444 130.501406,18.3544444 C131.831406,20.3544444 134.831406,27.6944444 135.171406,31.0244444 C135.511406,34.3544444 136.831406,43.3344444 136.831406,43.3344444 Z"
                        id="Path-Copy-76" fill="url(#radialGradient-15)"></path>
                    <path
                        d="M138.001406,23.9244444 C138.001406,23.9244444 136.501406,15.4244444 132.501406,13.1744444 C128.501406,10.9244444 119.001406,9.67444444 121.001406,4.17444444 C122.191406,0.904444444 127.751406,5.42444444 131.001406,8.42444444 C131.391406,8.78444444 131.851406,9.23444444 132.361406,9.75444444 C138.541283,16.0871738 140.884159,25.2301034 138.511406,33.7544444 L138.251406,34.7044444 L138.001406,23.9244444 Z"
                        id="Path-Copy-78" fill="url(#radialGradient-16)"></path>
                    <path
                        d="M34.0014058,47.6744444 C34.0014058,47.6744444 36.0014058,38.1744444 36.0014058,34.6744444 C36.0014058,31.1744444 57.0014058,9.42444444 57.0014058,9.42444444 C57.0014058,9.42444444 41.0014058,22.4244444 38.5014058,25.6744444 C36.0014058,28.9244444 33.5014058,32.4244444 33.5014058,34.6744444 C33.5014058,36.9244444 32.5014058,44.4244444 32.5014058,44.4244444 L34.0014058,47.6744444 Z"
                        id="Path-Copy-79" fill="url(#radialGradient-17)"></path>
                    <path
                        d="M23.9514058,7.27444444 C23.9514058,7.27444444 29.1714058,12.3344444 29.1714058,16.0044444 C29.1714058,19.6744444 31.1714058,29.6744444 33.5014058,30.3344444 C35.8314058,30.9944444 41.1714058,18.6744444 45.1714058,16.3344444 C49.1714058,13.9944444 40.5014058,15.0044444 39.5014058,17.3344444 C38.5014058,19.6644444 32.1714058,15.0044444 31.5014058,13.3344444 C30.8314058,11.6644444 26.7314058,6.53444444 23.9514058,7.27444444 Z"
                        id="Path-Copy-80" fill="url(#radialGradient-18)"></path>
                    <path
                        d="M59.1714058,69.0244444 C58.1714058,64.0244444 53.5014058,80.0244444 45.8314058,89.6944444 C42.0526205,94.2784931 37.7233272,98.3793986 32.9414058,101.904444 C32.6714058,122.404444 31.1014058,144.234444 30.2314058,149.684444 C30.0014058,151.084444 29.6314058,152.624444 29.2314058,154.184444 L30.5014058,153.024444 C31.5014058,152.674444 60.1714058,74.0244444 59.1714058,69.0244444 Z"
                        id="Path-Copy-81" fill="url(#radialGradient-19)"></path>
                    <path
                        d="M37.5014058,68.3344444 C35.3984716,72.1064721 33.8077932,76.1420196 32.7714058,80.3344444 C32.7714058,81.4344444 32.7114058,82.4944444 32.7714058,83.4744444 C33.0314058,89.6744444 33.0514058,96.7144444 32.9314058,103.854444 C37.4114058,95.7944444 46.2314058,82.4744444 49.5214058,75.3844444 C66.5014058,38.6744444 47.1714058,51.3344444 37.5014058,68.3344444 Z"
                        id="Path-Copy-82" fill="url(#radialGradient-20)"></path>
                    <path
                        d="M131.831406,61.6144444 C129.351406,58.0744444 126.161406,59.8444444 122.971406,55.6144444 C119.781406,51.3844444 114.471406,46.0444444 116.241406,54.1944444 C117.491406,59.9344444 129.971406,91.3044444 137.241406,109.374444 C136.821406,94.9744444 136.461406,79.8744444 136.241406,69.6544444 C134.341406,65.9244444 132.641406,62.7744444 131.831406,61.6144444 Z"
                        id="Path-Copy-83" fill="url(#radialGradient-21)"></path>
                    <path
                        d="M122.501406,112.334444 C124.171406,116.674444 129.831406,120.004444 129.501406,125.674444 C129.171406,131.344444 127.831406,143.334444 127.831406,143.334444 L140.191406,154.834444 C139.821406,153.034444 139.361406,151.264444 139.111406,149.664444 C138.711406,147.154444 138.301406,139.494444 137.921406,129.584444 C133.791406,118.674444 128.701406,105.054444 128.501406,103.674444 C128.171406,101.334444 120.831406,108.024444 122.501406,112.334444 Z"
                        id="Path-Copy-84" fill="url(#radialGradient-22)"></path>
                    <path
                        d="M135.811406,43.1244444 L130.171406,28.0244444 C130.171406,28.0244444 126.171406,25.3544444 122.171406,27.0244444 C118.171406,28.6944444 119.831406,33.0244444 122.171406,37.3544444 C124.511406,41.6844444 130.831406,47.3544444 135.171406,53.0244444 C135.361406,53.2744444 135.551406,53.5544444 135.731406,53.8344444 C135.331047,50.2740194 135.357904,46.6784915 135.811406,43.1244444 L135.811406,43.1244444 Z"
                        id="Path-Copy-85" fill="url(#radialGradient-23)"></path>
                    <path
                        d="M42.0814058,170.344444 C45.7414058,170.824444 50.3514058,171.244444 56.1814058,171.504444 C78.8414058,172.504444 84.6714058,173.334444 84.6714058,173.334444 C84.6714058,173.334444 90.4914058,172.504444 113.161406,171.504444 C118.371797,171.314312 123.568797,170.853691 128.731406,170.124444 L109.501406,147.024444 C109.501406,147.024444 82.1714058,140.354444 75.8314058,141.694444 C69.4914058,143.034444 70.8314058,150.694444 61.8314058,160.024444 C57.7314058,164.254444 49.7314058,167.734444 42.0814058,170.344444 Z"
                        id="Path-Copy-86" fill="url(#radialGradient-24)"></path>
                    <path
                        d="M135.431406,168.834444 C139.231406,167.834444 140.321406,167.004444 140.321406,167.004444 C140.321406,167.004444 140.321406,166.804444 140.321406,166.454444 C135.991406,162.604444 112.161406,145.674444 109.851406,145.674444 C107.111406,145.674444 132.511406,165.574444 135.431406,168.834444 Z"
                        id="Path-Copy-87" fill="url(#radialGradient-25)"></path>
                    <path
                        d="M37.2514058,156.674444 C37.2514058,156.674444 61.2514058,158.424444 66.7514058,148.424444 C72.2514058,138.424444 68.0014058,148.924444 61.2514058,150.424444 C54.5014058,151.924444 37.2514058,156.674444 37.2514058,156.674444 Z"
                        id="Path-Copy-88" fill="url(#radialGradient-26)"></path>
                </g>
            </g>
            <path
                d="M144.52,182.74 C144.46,182.82 144.46,182.9 144.48,182.98 C144.178701,184.964906 144.064866,186.973763 144.14,188.98 C144.14,188.98 139.65,192.48 116.98,193.48 C94.31,194.48 88.49,195.31 88.49,195.31 C88.49,195.31 82.67,194.48 60,193.48 C37.33,192.48 32.83,188.98 32.83,188.98 C32.9116349,186.974052 32.8011312,184.964895 32.5,182.98 L32.6008391,183.706558 C32.5732202,183.694186 32.5462775,183.681999 32.52,183.67 L32.52,183.67 L32.39,182.98 C32.3850468,182.900077 32.3850468,182.819923 32.39,182.74 C32.4247508,182.756532 32.4608333,182.773459 32.4982799,182.790768 L32.5,182.74 C34.56,183.72 41.3,186.09 59.44,186.89 C81.2576286,187.854629 87.8082672,188.667213 88.4551842,188.752594 C89.0955722,188.66516 95.5956286,187.835714 117.47,186.89 C135.61,186.09 142.34,183.74 144.41,182.74 L144.41,182.74 L144.409813,182.792411 C144.447924,182.774556 144.484642,182.757081 144.52,182.74 Z M2.86859424,68.89 C5.19859424,71.26 16.0185942,79 36.7685942,81.8 C36.0993498,84.1358348 35.0884186,86.3598833 33.7685942,88.4 C11.2685942,86.4 0.768594239,77.65 0.0185942392,76.4 C-0.151405761,76.09 1.01859424,73.17 2.86859424,68.89 Z M174.023837,68.89 C175.883837,73.17 177.023837,76.09 176.843837,76.4 C176.093837,77.65 165.593837,86.4 143.093837,88.4 C141.778462,86.3574531 140.767838,84.1340804 140.093837,81.8 C160.923837,79 171.693837,71.26 174.023837,68.89 Z M118.134324,4.16221743 C118.990861,4.59246926 142.230568,16.268923 150.039903,20.4931844 C150.562582,20.7526152 151.074393,21.0356886 151.57391,21.3392084 C152.188723,21.6909094 152.541618,21.9144279 152.57,21.98 C152.753844,22.4206809 152.693115,22.9254946 152.41,23.31 C152.41,23.31 149.79,27.68 148.03,31.53 C148.026261,31.5284215 148.022525,31.5268408 148.018791,31.525258 C147.475335,32.7138519 147.013862,33.8562111 146.735968,34.81 C145.555968,38.86 144.895968,43.5 143.245968,47.21 C141.595968,50.92 141.725968,58.3 140.315968,62.15 L140.315968,62.15 L140.265968,62.32 C140.035031,59.131438 140.411703,55.9280244 141.375968,52.88 C142.825968,48.95 142.625968,41.58 144.375968,37.64 C145.341262,35.466711 145.9597,33.0986966 146.521627,30.7188891 C144.32616,29.2774762 143.014185,27.2366481 141.75,26.65 C138,24.9 125.42,19.56 118.42,17.81 C117.391818,17.5547273 115.759147,17.4659405 113.795729,17.4659936 L113.336885,17.4675476 C109.001876,17.4961105 103.230197,17.9090985 98.757025,17.9306874 L98.2828499,17.9314674 C96.4070215,17.928314 94.7876364,17.8481818 93.64,17.63 L93.6775484,17.6374162 C89.2155646,18.1522111 84.6958583,18.004424 80.2670164,17.194055 C76.6126829,17.5340294 71.8079041,18.0532892 66.12,18.9 C54.02,20.66 34.5632,27.4536 30.067808,29.05872 L29.9921877,29.0848822 C30.6989308,32.0462486 31.3886456,35.0607912 32.5183254,37.64 C34.1783254,41.43 34.0483254,49 35.5183254,52.88 C36.4705167,55.9302574 36.8303181,59.134527 36.5783254,62.32 L36.5783254,62.32 L36.5183254,62.15 C35.1383254,58.3 35.3783254,51.07 33.6683254,47.21 C31.9583254,43.35 31.3383254,38.81 30.1783254,34.81 C29.7808084,33.4392517 28.9910604,31.6574829 28.1245886,29.9073695 C26.8584806,27.3641626 25.4352538,24.8760779 24.8246597,23.8282552 C24.6307613,23.4973931 24.5183254,23.31 24.5183254,23.31 C24.4529295,23.2278815 24.3979602,23.1395634 24.3537405,23.0469687 C24.193698,22.7142515 24.1717076,22.3309647 24.3,21.98 C24.3383778,21.9020815 24.8344358,21.6011385 25.6812018,21.1300988 C26.1251269,20.8694478 26.5776851,20.6268736 27.0383254,20.4 L26.6833199,20.5813697 C34.3779827,16.4190966 58.083144,4.51006787 58.7841156,4.15797803 L58.77,4.15 L59.24,3.67 C63.38,7.77 69.32,13.19 74.77,14.91 C83.6803963,17.7198596 93.2396037,17.7198596 102.15,14.91 C107.6,13.19 113.52,7.77 117.68,3.67 L117.68,3.67 L118.15,4.15 Z"
                id="accent-color" fill="<% if (typeof formdata != "undefined" && formdata.color) { %><%= formdata.color.hex %> <% } else {%> #FFFFFF <%}%>"></path>
            <g id="shadows" opacity="0.103402" transform="translate(0.002246, 0.100000)">
                <path
                    d="M2.8663479,68.79 C1.0163479,73.07 -0.153652096,75.99 0.0163479044,76.3 C0.766347904,77.55 11.2663479,86.3 33.7663479,88.3 C35.0861723,86.2598833 36.0971034,84.0358348 36.7663479,81.7 C16.0163479,78.9 5.1963479,71.16 2.8663479,68.79 Z"
                    id="Path-Copy-131" fill="url(#radialGradient-27)"></path>
                <path
                    d="M174.021591,68.79 C175.881591,73.07 177.021591,75.99 176.841591,76.3 C176.091591,77.55 165.591591,86.3 143.091591,88.3 C141.776216,86.2574531 140.765592,84.0340804 140.091591,81.7 C160.921591,78.9 171.691591,71.16 174.021591,68.79 Z"
                    id="Path-Copy-130" fill="url(#radialGradient-28)"></path>
                <path
                    d="M144.517754,182.64 C142.447754,183.64 135.717754,185.99 117.577754,186.79 C94.4477537,187.79 88.5077537,188.66 88.5077537,188.66 C88.5077537,188.66 82.5077537,187.81 59.4377537,186.79 C41.2977537,185.99 34.5577537,183.62 32.4977537,182.64 C32.4928005,182.719923 32.4928005,182.800077 32.4977537,182.88 C32.7988849,184.864895 32.9093885,186.874052 32.8277537,188.88 C32.8277537,188.88 37.3277537,192.38 59.9977537,193.38 C82.6677537,194.38 88.4877537,195.21 88.4877537,195.21 C88.4877537,195.21 94.3077537,194.38 116.977754,193.38 C139.647754,192.38 144.137754,188.88 144.137754,188.88 C144.062619,186.873763 144.176455,184.864906 144.477754,182.88 C144.457754,182.8 144.457754,182.72 144.517754,182.64 Z"
                    id="Path-Copy-129" fill="url(#radialGradient-29)"></path>
                <path
                    d="M32.5177537,183.57 C34.7077537,184.57 41.5177537,186.88 59.3477537,187.67 C82.4677537,188.67 88.4177537,189.54 88.4177537,189.54 C88.4177537,189.54 94.3577537,188.69 117.487754,187.67 C135.317754,186.88 142.127754,184.58 144.307754,183.57 C144.307754,183.34 144.367754,183.11 144.407754,182.88 C144.407754,182.8 144.407754,182.72 144.407754,182.64 C142.337754,183.64 135.607754,185.99 117.467754,186.79 C94.3377537,187.79 88.3977537,188.66 88.3977537,188.66 C88.3977537,188.66 82.3977537,187.81 59.3277537,186.79 C41.1877537,185.99 34.4477537,183.62 32.3877537,182.64 C32.3828005,182.719923 32.3828005,182.800077 32.3877537,182.88 L32.5177537,183.57 Z"
                    id="Path-Copy-126" fill="url(#radialGradient-30)"></path>
                <path
                    d="M36.3263479,82.53 C35.7431252,84.4234909 34.9691562,86.2528723 34.0163479,87.99 C35.2247066,86.022941 36.1757983,83.9090304 36.8463479,81.7 C16.0163479,78.9 5.1963479,71.16 2.8663479,68.79 L2.4563479,69.72 C5.0163479,72.19 15.7363479,79.77 36.3263479,82.53 Z"
                    id="Path-Copy-92" fill="url(#radialGradient-31)"></path>
                <path
                    d="M140.561591,82.53 C141.155835,84.4225561 141.936321,86.2515079 142.891591,87.99 C141.669324,86.0249888 140.704751,83.9109948 140.021591,81.7 C160.881591,78.9 171.651591,71.16 174.021591,68.79 L174.421591,69.72 C171.911591,72.19 161.151591,79.77 140.561591,82.53 Z"
                    id="Path-Copy-91" fill="url(#radialGradient-32)"></path>
                <path
                    d="M58.7977537,4.14926881 C62.9477537,8.28926881 69.1177537,14.0392688 74.7977537,15.8292688 C83.7081499,18.6391284 93.2673574,18.6391284 102.177754,15.8292688 C107.817754,14.0392688 113.997754,8.28926881 118.177754,4.14926881 L118.177754,4.14926881 C118.177754,4.14926881 114.677754,0.51926881 113.677754,0.14926881 C112.677754,-0.22073119 109.557754,0.14926881 107.927754,0.89926881 C106.297754,1.64926881 113.767754,-0.48073119 112.517754,1.99926881 C111.267754,4.47926881 101.207754,12.9992688 88.4577537,12.8992688 C75.7077537,12.9992688 65.6377537,4.51926881 64.3877537,1.99926881 C63.1377537,-0.52073119 70.6377537,1.64926881 69.0177537,0.89926881 C67.3977537,0.14926881 64.2677537,-0.23073119 63.2677537,0.14926881 C62.2677537,0.52926881 58.7677537,4.14926881 58.7677537,4.14926881 L58.7677537,4.14926881 L58.7977537,4.14926881 Z"
                    id="collar-shadow" fill="url(#radialGradient-33)"></path>
                <path
                    d="M112.517754,8.46 L108.917754,11 L106.657754,8 C101.079582,11.5089275 94.6277594,13.3800253 88.0377537,13.4 C81.1677537,13.46 75.7677537,11.01 71.4077537,8.58 L69.2277537,11.65 L65.7077537,9.52 C68.3954851,11.9029873 71.4561816,13.8285911 74.7677537,15.22 C84.5977537,18.77 93.2377537,17.79 102.147754,15.22 C106.059727,13.7571659 109.600614,11.448931 112.517754,8.46 L112.517754,8.46 Z"
                    id="collar-upper-shadow" fill="url(#radialGradient-34)"></path>
            </g>
            <g id="shoulder-shadow" opacity="0.161435082" transform="translate(24.216883, 4.150000)">
                <path
                    d="M93.8931167,-2.48689958e-14 C93.8931167,-2.48689958e-14 117.874081,12.0431184 125.82674,16.3451969 C126.347914,16.6038614 126.858007,16.8860328 127.355887,17.188516 C127.971364,17.5406081 128.324716,17.7643837 128.353117,17.83 C128.536961,18.2706809 128.476231,18.7754946 128.193117,19.16 C128.193117,19.16 125.573117,23.53 123.813117,27.38 C123.80905,27.3782831 123.804987,27.3765637 123.800926,27.3748419 C123.258194,28.5644912 122.796901,29.706478 122.519085,30.66 C121.339085,34.71 120.679085,39.35 119.029085,43.06 C117.379085,46.77 117.509085,54.15 116.099085,58 L116.099085,58 L116.049085,58.17 C115.818147,54.981438 116.19482,51.7780244 117.159085,48.73 C118.609085,44.8 118.409085,37.43 120.159085,33.49 C121.124378,31.316711 121.742817,28.9486966 122.304743,26.5688891 C120.109277,25.1274762 118.797302,23.0866481 117.533117,22.5 C113.783117,20.75 101.203117,15.41 94.2031167,13.66 C89.8531167,12.58 74.6831167,14.48 69.4231167,13.48 C72.2967677,13.1476614 75.1326624,12.544992 77.8931167,11.68 C83.5731167,9.89 89.7531167,4.14 93.8931167,-2.48689958e-14 Z"
                    id="shadow" fill="url(#radialGradient-35)"></path>
                <path
                    d="M34.5831167,6.39488462e-14 C38.7331167,4.14 44.9031167,9.85 50.5531167,11.68 C52.369972,12.2471398 54.2201723,12.7013406 56.0931167,13.04 C52.4331167,13.38 47.6131167,13.9 41.9031167,14.75 C29.7329636,16.5202041 10.1204571,23.3825447 5.77424796,24.9361132 C6.48204747,27.8962486 7.17176226,30.9107912 8.3014421,33.49 C9.9614421,37.28 9.8314421,44.85 11.3014421,48.73 C12.2536333,51.7802574 12.6134348,54.984527 12.3614421,58.17 L12.3614421,58.17 L12.3014421,58 C10.9214421,54.15 11.1614421,46.92 9.4514421,43.06 C7.7414421,39.2 7.1214421,34.66 5.9614421,30.66 C5.56400097,29.2895133 4.77447856,27.5081631 3.90820141,25.7583716 C2.65811666,23.2475 1.25561666,20.79125 0.632179162,19.7201563 L0.617590056,19.6954922 C0.417672964,19.3537181 0.301442097,19.16 0.301442097,19.16 C0.236046164,19.0778815 0.181076869,18.9895634 0.13685714,18.8969687 C-0.0231853481,18.5642515 -0.0451757837,18.1809647 0.0831166624,17.83 C0.121484865,17.7521009 0.617304917,17.4512887 1.46368479,16.9804514 C1.90795445,16.7196028 2.36065462,16.4769461 2.8214421,16.25 L2.46003469,16.4348329 C10.2635652,12.2131549 34.5831167,6.39488462e-14 34.5831167,6.39488462e-14 Z"
                    id="shadow" fill="url(#radialGradient-36)"></path>
            </g>
            <g id="collar-dark-shadow" transform="translate(58.248720, 0.839338)">
                <path
                    d="M43.9012795,14.070662 C34.9908832,16.8805216 25.4316758,16.8805216 16.5212795,14.070662 C11.0712795,12.350662 5.13127952,6.93066199 0.991279518,2.83066199 L0.521279518,3.31066199 L0.521279518,3.31066199 C4.67127952,7.45066199 10.8412795,13.200662 16.5212795,14.990662 C25.4316758,17.8005216 34.9908832,17.8005216 43.9012795,14.990662 C49.5412795,13.200662 55.7212795,7.45066199 59.9012795,3.31066199 L59.9012795,3.31066199 L59.4312795,2.83066199 C55.2712795,6.93066199 49.3512795,12.350662 43.9012795,14.070662 Z"
                    id="shadow" fill="url(#radialGradient-37)" opacity="0.198683966"></path>
                <path
                    d="M53.7613331,2.01927005 C51.3134169,5.09364933 42.1122239,12.0689133 30.6601526,12.1599048 L30.6601526,12.1599048 L29.7624023,12.1599213 C19.4469029,12.0787136 10.951148,6.43761638 7.57621441,3.05383785 C28.1569403,10.0868648 48.1294925,5.5064962 53.6910422,2.06489118 Z"
                    id="Combined-Shape" fill="url(#radialGradient-38)" opacity="0.301316034"></path>
                <path
                    d="M54.3892556,0.950050097 C54.3667814,1.0443146 54.3280114,1.14737476 54.2712795,1.2599308 C54.1649201,1.47094793 53.9947772,1.725694 53.7646209,2.0151381 C48.331377,5.46279987 28.2683143,10.1263337 7.57526816,3.05371067 C7.24913921,2.72584344 6.97099188,2.42005728 6.74362147,2.14239781 C28.547447,9.91234571 49.8598186,4.49663068 54.3416315,0.988989667 Z"
                    id="Path-Copy-93" fill="url(#radialGradient-39)" opacity="0.238206847"></path>
                <path
                    d="M6.14127952,1.2599308 C5.01938297,-1.00181265 10.9459369,0.514413362 11.0008295,0.306739921 C11.0128357,0.311121389 11.0270398,0.315879453 11.0412795,0.320661987 C23.7492418,3.23466271 36.957911,3.17991175 49.6412795,0.160661987 C49.6412795,0.160661987 49.6757838,0.151288462 49.7393517,0.13488764 L49.6812795,0.159930797 C49.5471231,0.221659192 49.4746105,0.263878366 49.4558702,0.289646008 C48.8972865,0.618770282 53.1303762,-0.473789427 54.2004976,0.348774196 L54.2004976,0.348774196 L54.2712795,0.410661987 L54.2785513,0.397333889 C54.4483918,0.588643351 54.4697408,0.86618352 54.2712795,1.2599308 C54.1640731,1.47262838 53.9920632,1.72975417 53.7591109,2.02205975 C48.2944558,5.46844064 28.2423439,10.1158007 7.57633746,3.05401085 C6.84894868,2.32452807 6.3600422,1.70095635 6.14127952,1.2599308 Z"
                    id="Combined-Shape" fill="url(#radialGradient-40)" opacity="0.197260976"></path>
            </g>
            <g id="label" transform="translate(83.460000, 5.905000)">
                <path
                    d="M0.22,0.265 C0.22,0.265 0.11,4.195 0.22,4.595 C0.33,4.995 7.82,5.295 9.79,4.695 L9.73,0.265 L0.22,0.265 Z"
                    id="Path" fill="#EDDFBE"></path>
                <path d="M5.22,0.305 C5.22,0.305 8.36,0.665 9.74,0.735 L9.74,0.265 L5.15,0.265 L5.22,0.305 Z" id="Path"
                    fill="#DDD0B6"></path>
                <path
                    d="M9.8,4.695 L9.8,4.195 L9.35,4.195 C9.35,4.195 7.81,4.455 5.45,4.695 C4.60036694,4.85928871 3.7348017,4.92638679 2.87,4.895 L2.7,4.895 C5.0661523,5.11239604 7.44983773,5.04524997 9.8,4.695 L9.8,4.695 Z"
                    id="Path" fill="#DDD0B6"></path>
                <path
                    d="M0.23,4.595 C0.23,4.705 0.79,4.795 1.58,4.875 C1.10468266,4.81090974 0.642382039,4.672557 0.21,4.465 C0.213487055,4.50876313 0.220171568,4.55221246 0.23,4.595 L0.23,4.595 Z"
                    id="Path-Copy-66" fill="#DDD0B6"></path>
                <polygon id="Path" fill="#929699" points="9.43 2.205 9.31 2.205 9.31 2.705 9.43 2.675">
                </polygon>
                <polygon id="Path" fill="#929699" points="9.43 0.555 9.31 0.555 9.31 1.055 9.43 1.035">
                </polygon>
                <polygon id="Path" fill="#929699" points="9.43 1.375 9.31 1.375 9.31 1.875 9.43 1.855">
                </polygon>
                <polygon id="Path" fill="#929699" points="9.43 3.025 9.31 3.025 9.31 3.525 9.43 3.505">
                </polygon>
                <polygon id="Path" fill="#929699" points="9.43 3.975 9.31 3.975 9.31 4.475 9.43 4.455">
                </polygon>
                <polygon id="Path" fill="#929699" points="0.56 2.185 0.44 2.185 0.44 2.685 0.56 2.665">
                </polygon>
                <polygon id="Path" fill="#929699" points="0.56 0.545 0.44 0.545 0.44 1.045 0.56 1.015">
                </polygon>
                <polygon id="Path" fill="#929699" points="0.56 1.365 0.44 1.365 0.44 1.865 0.56 1.845">
                </polygon>
                <polygon id="Path" fill="#929699" points="0.56 3.015 0.44 3.015 0.44 3.515 0.56 3.485">
                </polygon>
                <polygon id="Path" fill="#929699" points="0.56 3.965 0.44 3.965 0.44 4.465 0.56 4.445">
                </polygon>
            </g>
        </g>
    </g>
</svg>