<%- include ("partials/head.ejs") %>
<section class="container">
    <h1>Ontwerp je eigen nerdy shirt!</h1>
    <article>
        <img src="/img/shirt.svg" alt="Afbeelding van een donker grijze t-shirt met witte tekst.">
    </article>
    <article>
        <p>Heb je al een shirt ontworpen of wil je een nieuw shirt ontwerpen? </p>
        <a class="btn" href="/search">Verder ontwerpen</a>
        <a class="btn btn--order" href="/design">Shirt ontwerpen</a>
    </article>
</section>
<%- include ("partials/footer.ejs") %>