<%- include ("partials/head.ejs") %>
<section class="container">
    <h1>Ontwerp je eigen nerdy shirt!</h1>
    <article>
        <img src="/img/shirt.svg" alt="Afbeelding van een donker grijze t-shirt met witte tekst.">
    </article>
    <article>
        <p>Heb je al een shirt ontworpen of wil je een nieuw shirt ontwerpen? </p>
        <form action="/pin">
            <label for="pinNumber">
                Vul hier je code in
                <input type="text" name="pinNumber" required>
            </label>
            <button class="btn btn--ghost">Verder ontwerpen</button>
        </form>

        <form action="/design" method="POST">
            <button class="btn btn--order">Nieuw shirt ontwerpen</button>
        </form>
    </article>
</section>
<%- include ("partials/footer.ejs") %>