body {
    background-color: #CBD5E0;
    color: #1A202C;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nav ul {
    margin: 0;
    padding: 0 2em;
    display: block;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    display: inline-block;
    padding: 16px;
    padding: 1em;
    list-style: none;
}

nav ul li:last-child {
    margin-left: auto;
}

main {
    position: relative;
}

a {
    text-decoration: none;
}

a:active {
    color: #3C366B;
}

h1 {
    font-size: 2em;
    text-align: center;
}

svg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* ------------------------------------------------------
 *  Buttons
 * ------------------------------------------------------ */

button {
    background-color: #4C51BF;
    border-radius: 2px;
    border: none;
    color: #E6FFFA;
    font-size: 1em;
    padding: 0.625em 1em;
    float: right;
}

.btn {
    border: 2px solid #4A5568;
    border-radius: 2px;
    color: #4A5568;
    font-size: 1em;
    padding: 0.625em 1em;
    text-decoration: none;
}

.btn.btn--order {
    background-color: #4C51BF;
    border-color: #4C51BF;
    border-radius: 2px;
    color: #E6FFFA; 
    font-size: 1em;
    padding: 0.625em 1em;
    text-decoration: none;
}

/* ------------------------------------------------------
 *  Form 
 * ------------------------------------------------------ */

form {
    margin: 0 auto;
    width: 80%;
}

form legend {
    font-weight: 600;
    margin-bottom: 16px;
    margin-bottom: 1em;
}

form fieldset {
    margin-top: 2em;
    border: none;
}

form label {
    display: inline-block;
    padding: .625em;
}

form label input {
    margin: 1em 0;
}

form section {
    position: relative;
    width: 50%;
}

/* ------------------------------------------------------
 *  Form | shirt
 * ------------------------------------------------------ */

form section:last-of-type {
    float: right;
    position: relative;
}

form section:last-of-type fieldset {
    margin: 6em auto 2em;
    width: 50%;
}

form section:last-of-type fieldset label {
    margin: 0 auto;
    width: 50%;
}

form section:last-of-type label {
    display: block;
}

/* ------------------------------------------------------
 *  Form | clothes tag
 * ------------------------------------------------------ */

/* form section:first-of-type::before {
    content: '';
    width: 0;
    height: 0;
    border-radius: 5px;
    border-style: solid;
    border-width: 0 160px 60px 160px;
    border-width: 0 12.5em 4em 12.5em;
    border-color: transparent transparent #fff transparent;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    top: -3.95em;
} */

form section:first-of-type {
    background-color: #fff;
    border-radius: 2px;
    float: left;
    width: 320px;
    width: 25em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 40em;
    overflow-x: scroll;
}

/* ------------------------------------------------------
 *  Form | colors
 * ------------------------------------------------------ */

form fieldset:nth-of-type(3) input[type="radio"],
form fieldset:nth-of-type(4) input[type="radio"] {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

form fieldset:nth-of-type(3) label,
form fieldset:nth-of-type(4) label {
    text-align: center;
    vertical-align: top;
    width: 4em;
}

/* ------------------------------------------------------
 *  Form | colors checkbox
 * ------------------------------------------------------ */

form fieldset:nth-of-type(3) input:before,
form fieldset:nth-of-type(4) input:before {
    content: '';
    border-radius: 2px;
    display: block;
    height: 2em;
    height: calc(4em / 2);
    line-height: 2em;
    line-height: calc(4em / 2);
    text-align: center;
    width: 100%;
}

form fieldset:nth-of-type(3) input:before {
    height: 6em;
}

form fieldset:nth-of-type(3) input[type="radio"]{
    margin-bottom: 1em;
}

form fieldset:nth-of-type(4) input[type="radio"]{
    font-size: 2em;
    margin-bottom: .5em;
}

form fieldset:nth-of-type(4) input:before {
    content: 'Aa';    
    background-color: #1A202C;
}

form label #white-shirt:before {
    background-color: #ffffff;
    border: 1px solid #718096;
}

form label #red-shirt:before {
    background-color: #F56565;
}

form label #orange-shirt:before {
    background-color: #ED8936;
}

form label #yellow-shirt:before {
    background-color: #ECC94B;
}

form label #green-shirt:before {   
    background-color: #48BB78;
}

form label #blue-shirt:before {  
    background-color: #4299E1;
}

form label #dark-grey-shirt:before {
    background-color: #2D3748;
}

form label #white:before {
    color: #ffffff;
}

form label #red:before {
    color: #F56565;
}

form label #orange:before {
    color: #ED8936;
}

form label #yellow:before {
    color: #ECC94B;
}

form label #green:before {   
    color: #48BB78;
}

form label #blue:before {  
    color: #4299E1;
}

form label #dark-grey:before {
    background-color: #E2E8F0;
    border: 1px solid #718096;
    color: #2D3748;
}

/* ------------------------------------------------------
 *  Focus Input
 * ------------------------------------------------------ */

:focus{
    border-radius: 2px;
    box-shadow: 0 0 0 3px rgba(76, 81, 191, .5)!important;
    outline: none;
}

form label input:focus:before,
form label input:focus:before {
    border-radius: 2px;
    box-shadow: 0 0 0 3px rgba(76, 81, 191, .5)!important;
}

form label input[type="text"],
form label input[type="range"] {
    display: block;
}

form label input[type="range"] {
    padding: 1em;
}

/* ------------------------------------------------------
 *  Search
 * ------------------------------------------------------ */
.search-container {
    margin: 10em 0;
}

.search {
    width: 50%;
}

.search label {
    padding: 0;
    margin: 1em;
    width: 80%;
    box-sizing: border-box;
}

.search label input {
    box-sizing: border-box;
    border: 0;
    padding: 1em;
    margin: 0;
    margin-top: 1em;
    width: 100%;
    float: left;
}

.search button {
    box-sizing: border-box;
    float: none;
    margin: 1em 0;
    vertical-align: bottom;
}

/* ------------------------------------------------------
 *  Detail
 * ------------------------------------------------------ */

.container {
    margin: 0 auto;
    width: 80%;
}

.container h1 {
    text-align: left;
}

.container div {
    position: relative;
}

.container div,
.container article {
    box-sizing: border-box;
    padding: 2em;
    float: left;
    width: 50%;
}

.container div img {
    position: relative;
    width: 100%;
}